
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    
}

/*Navbar*/
.navbar-brand{
    padding: 15px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.collapse{
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-size: 20px;
    justify-content: space-evenly;
}



/*Main Image*/

.example{
    position: relative;
  }
  .overlay-text{
    background-color:rgba(255, 255, 255, 0.5);
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    top:50%;
    right:50%;
    transform:translate(50%, -50%);
  }






/*About Page*/
.row {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 25px;
    padding: 5px;
  }
  .column {
    flex: 25%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;

  }
  
  .column-1{
    background-color: antiquewhite;
    flex: 25%;
    padding: 50px;
    border-radius: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
  #row{
    background-color:white;
    flex: 25%;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
  
  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  } 
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }






/*Blog Page*/

  .block{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    background-color: antiquewhite;
  }
  .card{
    margin: 25px;
    padding: 25px;
  }
  .card{
    border-radius: 25px;
  }
  .card-img-top{
    border-radius: 25px;
  }
  .card-title{
    color: red;
    font-size: 2rem;
    padding: 15px;
  }
  .card-text{
    text-align: center;
    font-size: 20px;
  }


/*news page*/
.news{
    margin-top: 50px;
    position: relative;
  }
  .overlay-text{
    padding:2px;
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
    top:50%;
    right:50%;
  }


/*Footer Page*/
.footer{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  background-color: antiquewhite;
  margin: 25px;
  padding: 5px;
  line-height: 2rem;
}
a:hover{
  color: red;
}